extends layout

block content
  .container-fluidZZ
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    form.form-style-9(action = '/finalisation', method = 'post')
      div
        label(for='name') Name :
        input#nom(type='text' required autofocus)
      div
        label(for='first_name') First name :
        input#prenom(type='text' required)
      div
        label(for='country') Country :
        input#pays(type='text' required)
      div
        label(for='Address') Address :
        input#Adresse(type='text' required)
      div
        label(for='City') City :
        input#Ville(type='text' required)
      div
        label(for='Postal code') Postal code :
        input(type='number', id='Code postal' required)
      div
        label(for='phone') Phone :
        input(type='tel', id='Téléphone' required)
      div
        label(for='E-mail') E-mail :
        input#E-mail(type='email' required)
      div
        select(name='Type', size='1')
          option
            | Credit card
          option
            | Visa
          option
            | Visa Electron
          option
            | EuroCard/MasterCard
          option
            | American Express
          option
            | Carte Aurore
          option
            | Prepaid card

      div
        label(for='Holder') Holder :
        input#Titulaire(type='text' required)
      div
        label(for='Card number') Card number :
        input(type='number', id='Numéro de carte' required)
      div
        label(for="Expiration date") Expiration date :
        input(type='date', id="Date d'expiration" required)
      div
        input(type='submit', value='Valider')
